*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-menu: #1F1F1F;
    --verde: #01B574;
    --branco: #F4F4F4;

    --font1: 'Tajawal', sans-serif;
}

.header_logo{
    width: 25%;
}

main{
    display: flex;
    background-color: rgb(209, 209, 209);
    width: 100vw;
}

.menu{
    width: 15%;
    position: fixed ;
}

.menu_lateral{
    background-color: var(--background-menu);
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 0 23% 23% 0;
}

.btn_expandir{
    width: 100%;
    padding-left: 10%;
    color: var(--branco);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu_conteudo{
    padding-top: 10%;
}

.item_menu  li{
    display: flex;
    align-items: center;
    text-align: center;
}

li a{
    padding: 5% 0 5% 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-left: 8%;
    
}

.menu_conteudo ul{
    height: 80vh;
    width: 100%;
    list-style-type: none;
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_menu{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.primeiros_itens, .segundos_itens, .terceiros_itens{
    margin-bottom: 40%;

}

.txt_link{
    margin-left: 2%;
    position: fixed;
}

hr{
    width: 90%;
}

.espaco2{
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.equipamentos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.painelEqpm{
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 20px;

}

.size1{
    font-size: 90%;
}

.icon{
    /* background-color: white; */
    border-radius: 50%;
    /* color: #F4F4F4; */
    display: flex;
    align-items: center;
}

.visaoGeral{
    font-family: monospace;
    font-size: 130%;
    font-weight: 900;
}

.size2{
    font-size: 150%;
}
  
.pagAtual{
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: var(--verde);
    width: 80%;
    height: 10%;
    margin-left: 5%;
}

.pagAtual span{
    text-align: center;
}



@media screen and (max-width: 1300px) {
    .size1{
        font-size: 85%;
    }   
    
    .size2{
        font-size: 100%;
    }

}

@media screen and (max-width: 1100px) {
    .size1{
        font-size: 75%;
    }   
    
    .size2{
        font-size: 100%;
    }

}

@media screen and (max-width: 990px) {
    .size1{
        font-size: 68%;
    }   
    
    .size2{
        font-size: 100%;
    }

}

@media screen and (max-width: 890px) {
    .size1{
        font-size: 58%;
    }   
    
    .size2{
        font-size: 90%;
    }
}

@media screen and (max-width: 780px) {
    .size1{
        font-size: 49%;
    }   
    
    .size2{
        font-size: 85%;
    }
}

@media screen and (max-width: 680px) {
    .eqipamentos{
        height: 100vh;
    }
    
    .painelEqpm{
        height: 80vh;
    }

    main{
        display: flex;
        flex-direction: column;

    }

    .menu{
        width: 100%;
        height: 10vh;
        position: fixed;
        bottom:0;
        z-index: 1;
    }

    .menu_lateral{
        padding: 0;
        height: 10vh;
        width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .menu_conteudo{
        align-items: center;
        padding: 0;
        width: 100%;
        height: 10vh;
    }

    .menu_conteudo ul{
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
    }



    .item_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 10vh;
    }
    
    .item_menu a{
        padding-left: 0;
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 100%;
        padding: 0;
    }

    .pagAtual{
        margin-left: 0;
        background-color: transparent;
    }

    .IconAtual{
        color: #CF4B83;
    }

    .btnSair{
        display: none;
    }

    .btn_expandir{
        display: none;
    }

    .size1{
        font-size: 55%;
    }   
    
    .size2{
        font-size: 80%;
    }

    .txt_link{
        display: none;
    }

    hr{
        display: none
        ;
    }

    .espaco2{
        margin-top: 0 ;
        width:20%;
    }

    .painelEqpm{
        height:85%;
        margin-top: -10%; 
        width: 85%;
        margin-top: 5%;
    }

}

@media screen and (max-width: 420px) {
    
    .painelEqpm{
        margin-top: -15%;
        height: 100%; 
        margin-top: 15%;
    }

}
