:root {
  --branco: #f4f4f4;
  --verde: #01b574;
  --cinza: #8f8f8f;
  --rosa: #cf4b83;
  --verdeclaro: rgba(1, 181, 116, 0.1);
}

#return {
  color: var(--cinza);
  margin-top: 1%;
  font-size: 200%;
  width: 80%;
  text-align: start;
  text-decoration: none;
}

h2 {
  margin-bottom: 20px;
  color: var(--verde);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.texto {
  text-align: justify;
  color: var(--verde);
  margin-top: 1%;
  width: 75%;
}

.pagina_esquerda input {
  color: white;
  text-align: center;
  margin-top: 8%;
  background-color: var(--verdeclaro);
  border: none;
  height: 40px;
  width: 65%;
  border-radius: 30px;
}

.avancar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
}

.pagina_esquerda button {
  cursor: pointer;
  /* margin: 10%; */
  color: white;
  background-color: var(--verde);
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: solid var(--verde);
  /* width: 35%; */
  height: 45px;
  text-transform: uppercase;
}
