/* video */
.video-responsive {
    border-radius: 0 25px 25px 25px;
    background-color:  #1f1f1fd0;
  
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  